@model IList<BlogWeb.ViewModels.PostsPorMesModel>

<h3>Arquivo</h3>
<ul>
    @foreach (var postMes in Model)
    {
        <li>@Html.RouteLink(postMes.ToString(), "PostsMes", new { mes = postMes.Mes, ano = postMes.Ano }, null)</li>
    }
</ul>
