@Html.ValidationMessage("login.Invalido")
<form action="/Login/Autentica" method="post">

    <label for="login">Login:</label>
    <input id="login" name="login" type="text" />

    <label for="senha">Senha:</label>
    <input id="senha" name="senha" type="password" />

    <input type="submit" value="Entrar" />
</form>
