<nav>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Posts", "Index", "Post")</li>
        <li>@Html.ActionLink("Usuários", "Index", "Usuario")</li>
    </ul>
</nav>
